@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;600&display=swap');

@mixin lg {
	@media screen and (max-width: 1180px) {
		@content;
	}
}

@mixin md {
	@media screen and (max-width: 1023px) {
		@content;
	}
}

@mixin sm {
	@media screen and (max-width: 799px) {
		@content;
	}
}

@mixin xs {
	@media screen and (max-width: 511px) {
		@content;
	}
}

$neu-01: #EAEAEA;
$neu-02: #EDEEF4;
$neu-03: #6F7073;
$neu-04: #505050;
$neu-05: #403E3E;

.card {
	width: 100%;
	height: 100%;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: relative;
	*{
		user-select: none;
	}
}

.bg {
	position: absolute;
	width: 100%;
	height: 100px;
	top: 0;
	border-radius: 4px 4px 0px 0px;
	transition: all 0.4s ease;
	background: linear-gradient(140deg, #D45B7A, #FDA576);
	z-index: 1;
}

.more {
	width: 24px;
	height: 24px;
	position: absolute;
	z-index: 2;
	right: 20px;
	top: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	transform: rotate(0deg);
	transition: all 0.4s ease;
	border-radius: 100%;
	&::before{
		width: 16px;
		height: 2px;
		background-color: white;
		content: "";
		position: absolute;
		border-radius: 4px;
		transition: all 0.4s ease;
	}
	&::after{
		width: 16px;
		height: 2px;
		background-color: white;
		content: "";
		position: absolute;
		border-radius: 4px;
		transform: rotate(90deg);
		transition: all 0.4s ease;
	}
	&:hover {
		transform: scale(1.1);
		background-color: rgba(white, 0.2);
	}
}

.swiper-slide {
	background-color: white;
	width: 280px !important;
	height: 320px;
	border-radius: 0.5rem;
	box-shadow: inset 0px 0px 0px 1px #edeef4;
	position: relative;
	transition: all 0.4s ease;
	&:hover {
		transform: translateY(2px);
		.photo{
			transform: translateY(-4px);
		}
	}
}

.swiper-wrapper{
	display: grid;
	grid-template-columns: repeat(3,1fr);
	position: relative;
	width: 100%;
	height: 100%;
	z-index: 1;
	gap: 2rem;
	font-family: "Source Code Pro", monospace;
	@media only screen and (max-width: 768px) {
		grid-template-columns: none;
		grid-template-rows: repeat(3, 1fr);
	}
}

.photo {
	width: 120px;
	height: 120px;
	border-radius: 100%;
	overflow: hidden;
	z-index: 1;
	position: absolute;
	top: 40px;
	border: 3px solid #FFFFFF;
	transition: all 0.4s ease;
	box-shadow: 0px 4px 10px rgb(111 112 115 / 30%),
	inset 0px 0px 20px 0px white;

	&::before{
		background: #403E3E;
		z-index: 1;
		width: 100%;
		height: 100px;
		border-radius: 4px;
		content: "";
		position: absolute;
		transition: all 0.4s ease;
		opacity: 0;
		left: 0;
		top: 0;
	}
	&:after {
		width: 100%;
		height: 100px;
		border-radius: 4px;
		content: "";
		position: absolute;
		transition: all 0.4s ease;
		opacity: 0;
		left: 0;
		top: 0;
		background: linear-gradient(140deg, #D45B7A, #FDA576);
		z-index: 2;
	}
	img{
		background: rgba(255, 255, 255,0.5);
		width: 100%;
		height: 100%;
		object-fit: cover;
		margin: 0;
		padding: 0;
		list-style: none;
		border: 0;
		-webkit-tap-highlight-color: transparent;
		text-decoration: none;
		color: inherit;
	}
}

.text {
	z-index: 3;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: absolute;
	transform: translateY(50px);
	transition: all 0.3s ease;
}

.name {
	font-size: 20px;
	color: #6F7073;
	font-weight: 300;
	letter-spacing: -1px;
}

.role {
	font-size: 14px;
	font-weight: 600;
	color: #CBCBCB;
	letter-spacing: 0.8px;
	margin-top: 5px;
}

.desc {
	color: white;
	display: none;
	margin-top: 20px;
	font-size: 16px;
	letter-spacing: 0.6px;
	text-align: center;
	padding: 0 40px;
	font-weight: 400;
	line-height: 22px;
}

.social {
	z-index: 1;
	display: flex;
	align-items: center;
	background-color: rgba(234, 234, 234, 0.5);
	box-shadow: inset 0px 11px 13px -20px #6f7073;
	width: 100%;
	position: absolute;
	bottom: 0;
	height: 50px;
	padding: 0 20px;
	box-sizing: border-box;
	border-radius: 0px 0px 4px 4px;
	transition: all 0.4s ease;
	&:hover{
		.pointer {
			opacity: 1;
			bottom: 45px;
			&::before{
				content: "";
				width: 100%;
				height: 100%;
				position: absolute;
				background-color: white;
				transform: rotate(45deg);
			}
		}
	}
}

.pointer {
	display: block;
	width: 10px;
	height: 10px;
	z-index: 2;
	bottom: 50px;
	position: absolute;
	transform: translateX(25px);
	transition: all 0.4s ease;
	opacity: 0;
}

.icons {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	color: black;
}

.icon-social {
	width: 25%;
	height: 24px;
	opacity: 0.3;
	transition: all 0.4s ease;
	&:hover {
		opacity: 0.6;
	}
	img {
		width: 100%;
		height: 100%;
	}
}

.show-more {
	.card {
		overflow: hidden;

		.more {
			transform: rotate(45deg) scale(1);

			&:hover {
				transform: rotate(45deg) scale(1.1);

				@include sm {
					transform: rotate(45deg) scale(1);
				}
			}
		}

		.social {
			transform: translateY(55px);
		}

		.text {
			color: white;
			transform: translateY(0px);
			transition: all 0.6s ease;

			.name,
			.role {
				color: white;
			}

			.desc {
				display: block;
			}
		}

		.photo {
			width: 100%;
			height: 100%;
			top: 0px;
			border: solid 0px transparent;
			border-radius: 4px;
			box-shadow: 0px 4px 10px rgba($neu-03, 0);
			transform: translateY(0px);
			transition: all 0.4s ease;

			&:before {
				height: 100%;
				opacity: 0.5;
			}

			&:after {
				height: 100%;
				opacity: 0.8;
				border-radius: 4px;
			}

			img {
				filter: grayscale(100%);
			}

			&:hover {
				transform: translateY(0px);
			}
		}

		.bg {
			width: 100%;
			height: 100%;
			//z-index: 2;
			border-radius: 4px;

			&:before {
				opacity: 0.5;
			}

			&:after {
				opacity: 0.8;
			}

		}
	}

}

.main-container{
	margin: 8rem 0;
}